/* Breakpoints
---------------------------------------------------------------------------------------------------- */
$breakpoint_xxxl: 1360px;
$breakpoint_xxl: 1280px;
$breakpoint_xl: 1100px;
$breakpoint_l: 1024px;
$breakpoint_m: 768px;
$breakpoint_s: 640px;
$breakpoint_xs: 540px;
$breakpoint_xxs: 400px;
$breakpoint_xxxs: 355px;



/* Gaps
---------------------------------------------------------------------------------------------------- */
$gap: 8px;
$gap_1: ($gap * 1);
$gap_2: ($gap * 2);
$gap_3: ($gap * 3);
$gap_4: ($gap * 4);
$gap_5: ($gap * 5);
